<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <remove name="WebDAV"/>
        <remove name="OPTIONSVerbHandler"/>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
      </handlers>
      <modules>
        <remove name="WebDAVModule"/>
      </modules>
      <aspNetCore processPath="dotnet"
                  arguments=".\WsSeguUta.AuthSystem.API.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess"/>
      <webSocket enabled="true"/>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 296BB7EB-44D0-4113-AAB0-F55EA0C6D2C5-->
