<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Quitar handlers de IIS que interceptan OPTIONS/WebDAV antes de llegar a ASP.NET Core -->
      <remove name="WebDAV"/>
      <remove name="OPTIONSVerbHandler"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
    </handlers>
    <modules>
      <remove name="WebDAVModule"/>
    </modules>
    <aspNetCore processPath="dotnet"
                arguments="WsSeguUta.AuthSystem.API.dll"
                stdoutLogEnabled="false"
                hostingModel="inprocess"/>
  </system.webServer>
</configuration>
